$dark: rgb(207, 222, 225);
$secondary: #9ad1f3;
$info :#3674B5;
$primary :rgb(173, 173, 210);
$success :rgb(106, 127, 244);;
$warning : rgb(133, 133, 149);

@import "./node_modules/bootstrap/scss/bootstrap";