$dark:rgb(178, 164, 255);
$secondary:rgb(255, 249, 202);
$info :rgb(255, 222, 180);
$primary :rgb(173, 173, 210);
$success :rgb(106, 127, 244);;
$warning : rgb(246, 234, 203);

@import "./node_modules/bootstrap/scss/bootstrap";